# Stage 1 Task 3 Team Notebook - Group 8

In [1]:
import pandas as pd

## Import the three main COVID datasets

In [2]:
deaths = pd.read_csv("/data/covid_deaths_usafacts.csv")
cases = pd.read_csv("/data/covid_confirmed_usafacts.csv")
population = pd.read_csv("/data/covid_county_population_usafacts.csv")

### First 5 rows of datasets

#### cases

In [3]:
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149

#### deaths

In [4]:
deaths.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111

#### population

In [5]:
population.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

### Datatypes of datasets

In [6]:
cases.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
2020-01-22      int64
                ...
2023-07-19      int64
2023-07-20      int64
2023-07-21      int64
2023-07-22      int64
2023-07-23      int64
Length: 1269, dtype: object

In [7]:
deaths.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
2020-01-22      int64
                ...
2023-07-19      int64
2023-07-20      int64
2023-07-21      int64
2023-07-22      int64
2023-07-23      int64
Length: 1269, dtype: object

In [8]:
population.dtypes

countyFIPS      int64
County Name    object
State          object
population      int64
dtype: object

### Number of Obsevations and Features

In [9]:
print("There are", cases.shape[0],"of Observations and ", cases.shape[1], " features in cases dataset.")
print("\n")
print("There are", deaths.shape[0],"of Observations and ", deaths.shape[1], " features in deaths dataset.")
print("\n")
print("There are", population.shape[0],"of Observations and ", population.shape[1], " features in population dataset.")
print("\n")

There are 3193 of Observations and  1269  features in cases dataset.


There are 3193 of Observations and  1269  features in deaths dataset.


There are 3195 of Observations and  4  features in population dataset.

### Column Names of the datasets

In [10]:
print("Columns in cases", cases.columns)
print("\n")
print("Columns in deaths", deaths.columns)
print("\n")
print("Columns in population", population.columns)

Columns in cases Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       ...
       '2023-07-14', '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18',
       '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23'],
      dtype='object', length=1269)


Columns in deaths Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       ...
       '2023-07-14', '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18',
       '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23'],
      dtype='object', length=1269)


Columns in population Index(['countyFIPS', 'County Name', 'State', 'population'], dtype='object')

### Summary Statistics

In [11]:
cases.describe()

,countyFIPS,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,29898.348262,30.259004,0.226433,0.229878,0.232070,0.235202,0.237707,0.240839,0.242718,0.243971,...,3.118818e+04,3.118844e+04,3.118858e+04,3.118874e+04,3.118975e+04,3.119131e+04,3.119197e+04,3.119221e+04,3.119221e+04,3.119221e+04
std,15515.884232,15.153897,6.899731,6.977750,7.031192,7.075284,7.096643,7.160000,7.199078,7.220848,...,1.062492e+05,1.062517e+05,1.062530e+05,1.062543e+05,1.062558e+05,1.062615e+05,1.062632e+05,1.062635e+05,1.062635e+05,1.062635e+05
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03,2.946000e+03
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03,7.464000e+03
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04,2.027200e+04
max,56045.000000,56.000000,375.000000,379.000000,382.000000,384.000000,385.000000,388.000000,390.000000,391.000000,...,3.533727e+06,3.533901e+06,3.533991e+06,3.534073e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06,3.534088e+06

In [12]:
deaths.describe()

,countyFIPS,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000
mean,29898.348262,30.259004,0.000313,0.000313,0.000313,0.000313,0.000313,0.000313,0.000313,0.000313,...,345.808331,345.808331,345.808331,345.808331,345.819919,345.825556,345.750705,345.756342,345.756342,345.756342
std,15515.884232,15.153897,0.017697,0.017697,0.017697,0.017697,0.017697,0.017697,0.017697,0.017697,...,1413.728574,1413.728574,1413.728574,1413.728574,1413.750906,1413.756813,1413.624085,1413.624372,1413.624372,1413.624372
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
max,56045.000000,56.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,52102.000000,52102.000000,52102.000000,52102.000000,52102.000000,52102.000000,52102.000000,52102.000000,52102.000000,52102.000000

In [13]:
population.describe()

         countyFIPS    population
count   3195.000000  3.195000e+03
mean   29882.220970  1.027354e+05
std    15524.479302  3.309477e+05
min        0.000000  0.000000e+00
25%    18098.000000  1.039950e+04
50%    29123.000000  2.512700e+04
75%    45054.000000  6.694150e+04
max    56045.000000  1.003911e+07

### Checking for null values

In [14]:
print("cases")
print("\n")
print(cases.isnull().sum())
print("\n")

print("deaths")
print("\n")
print(deaths.isnull().sum())
print("\n")
print("population")
print("\n")
print(population.isnull().sum())

cases


countyFIPS     0
County Name    0
State          0
StateFIPS      0
2020-01-22     0
              ..
2023-07-19     0
2023-07-20     0
2023-07-21     0
2023-07-22     0
2023-07-23     0
Length: 1269, dtype: int64


deaths


countyFIPS     0
County Name    0
State          0
StateFIPS      0
2020-01-22     0
              ..
2023-07-19     0
2023-07-20     0
2023-07-21     0
2023-07-22     0
2023-07-23     0
Length: 1269, dtype: int64


population


countyFIPS     0
County Name    0
State          0
population     0
dtype: int64

### Finding number of occurences of countyFIPS

In [15]:
print("cases ")
print("----------------------------------")
print(cases["countyFIPS"].value_counts())
print("\n")
print("Number of Unique countyFIPS",len(cases["countyFIPS"].value_counts()))
print("\n")
print("deaths ")
print("----------------------------------")
print(deaths["countyFIPS"].value_counts())
print("\n")
print("Number of Unique countyFIPS",len(deaths["countyFIPS"].value_counts()))
print("\n")
print("population ")
print("----------------------------------")
print(population["countyFIPS"].value_counts())
print("\n")
print("Number of Unique countyFIPS",len(population["countyFIPS"].value_counts()))

cases
----------------------------------
0        51
39089     1
39093     1
39095     1
39097     1
         ..
21113     1
21115     1
21117     1
21119     1
56045     1
Name: countyFIPS, Length: 3143, dtype: int64


Number of Unique countyFIPS 3143


deaths
----------------------------------
0        51
39089     1
39093     1
39095     1
39097     1
         ..
21113     1
21115     1
21117     1
21119     1
56045     1
Name: countyFIPS, Length: 3143, dtype: int64


Number of Unique countyFIPS 3143


population
----------------------------------
0        51
39087     1
39091     1
39093     1
39095     1
         ..
21111     1
21113     1
21115     1
21117     1
56045     1
Name: countyFIPS, Length: 3145, dtype: int64


Number of Unique countyFIPS 3145

### Finding unique countyFIPS by county name

#### cases

In [16]:
cases.groupby("County Name")["countyFIPS"].unique()

County Name
Abbeville County                                   [45001]
Acadia Parish                                      [22001]
Accomack County                                    [51001]
Ada County                                         [16001]
Adair County                  [19001, 21001, 29001, 40001]
                                          ...
Yukon-Koyukuk Census Area                           [2290]
Yuma County                                   [4027, 8125]
Zapata County                                      [48505]
Zavala County                                      [48507]
Ziebach County                                     [46137]
Name: countyFIPS, Length: 1878, dtype: object

#### deaths

In [17]:
deaths.groupby("County Name")["countyFIPS"].unique()

County Name
Abbeville County                                   [45001]
Acadia Parish                                      [22001]
Accomack County                                    [51001]
Ada County                                         [16001]
Adair County                  [19001, 21001, 29001, 40001]
                                          ...
Yukon-Koyukuk Census Area                           [2290]
Yuma County                                   [4027, 8125]
Zapata County                                      [48505]
Zavala County                                      [48507]
Ziebach County                                     [46137]
Name: countyFIPS, Length: 1878, dtype: object

#### population

In [18]:
population.groupby("County Name")["countyFIPS"].unique()

County Name
Abbeville County                                  [45001]
Acadia Parish                                     [22001]
Accomack County                                   [51001]
Ada County                                        [16001]
Adair County                 [19001, 21001, 29001, 40001]
                                         ...
Yukon-Koyukuk Census Area                          [2290]
Yuma County                                  [4027, 8125]
Zapata County                                     [48505]
Zavala County                                     [48507]
Ziebach County                                    [46137]
Name: countyFIPS, Length: 1882, dtype: object

Here we get thecounty FIPS codes that are linked to each county name in all datasets.
For example, Yuma County and Adair county are names that can refer to multiple counties in different states, So
Yuma County  [4027, 8125]  provides information for two different Yuma Counties:

Yuma County, Arizona: County FIPS code: 4027
Yuma County, Colorado: County FIPS code: 8125 and 

Adair County   [19001, 21001, 29001, 40001]  provides information for four different Adair Counties:      
Adair County, Iowa:County FIPS code: 19001
Adair County, Kentucky:County FIPS code: 21001
Adair County, Missouri:County FIPS code: 29001
Adair County, Oklahoma:County FIPS code: 40001

### Number of occurrences of county FIPS codes within each county

#### cases

In [19]:
cases.groupby("County Name")["countyFIPS"].count().sort_values(ascending=False)

County Name
Statewide Unallocated    51
Washington County        30
Jefferson County         25
Franklin County          24
Jackson County           23
                         ..
Goshen County             1
Gordon County             1
Gooding County            1
Goodhue County            1
Ziebach County            1
Name: countyFIPS, Length: 1878, dtype: int64

Here,the county with the most occurrences of FIPS codes appears first. This gives the understanding of the counties that have the highest number of unique FIPS codes or identifying potential data anomalies or patterns within the dataset

#### deaths

In [20]:
deaths.groupby("County Name")["countyFIPS"].count().sort_values(ascending=False)

County Name
Statewide Unallocated    51
Washington County        30
Jefferson County         25
Franklin County          24
Jackson County           23
                         ..
Goshen County             1
Gordon County             1
Gooding County            1
Goodhue County            1
Ziebach County            1
Name: countyFIPS, Length: 1878, dtype: int64

#### population

In [21]:
population.groupby("County Name")["countyFIPS"].count().sort_values(ascending=False)

County Name
Statewide Unallocated    50
Washington County        30
Jefferson County         25
Franklin County          24
Lincoln County           23
                         ..
Gunnison County           1
Gulf County               1
Guilford County           1
Guernsey County           1
Ziebach County            1
Name: countyFIPS, Length: 1882, dtype: int64

### Number of occurrences of county FIPS codes within each state

#### cases

In [22]:
cases.groupby("State")["countyFIPS"].count().sort_values(ascending=False)

State
TX    255
GA    160
VA    134
KY    121
MO    116
KS    106
IL    103
NC    101
IA    100
TN     96
NE     94
IN     93
OH     89
MN     88
MI     84
MS     83
OK     78
AR     76
WI     73
FL     68
AL     68
PA     68
SD     67
LA     65
CO     65
NY     63
CA     59
MT     57
WV     56
ND     54
SC     47
ID     45
WA     40
OR     37
NM     34
UT     30
AK     30
MD     25
WY     24
NJ     22
NV     18
ME     17
AZ     16
MA     15
VT     15
NH     11
CT      9
RI      6
HI      6
DE      4
DC      2
Name: countyFIPS, dtype: int64

#### deaths

In [23]:
deaths.groupby("State")["countyFIPS"].count().sort_values(ascending=False)

State
TX    255
GA    160
VA    134
KY    121
MO    116
KS    106
IL    103
NC    101
IA    100
TN     96
NE     94
IN     93
OH     89
MN     88
MI     84
MS     83
OK     78
AR     76
WI     73
FL     68
AL     68
PA     68
SD     67
LA     65
CO     65
NY     63
CA     59
MT     57
WV     56
ND     54
SC     47
ID     45
WA     40
OR     37
NM     34
UT     30
AK     30
MD     25
WY     24
NJ     22
NV     18
ME     17
AZ     16
MA     15
VT     15
NH     11
CT      9
RI      6
HI      6
DE      4
DC      2
Name: countyFIPS, dtype: int64

#### population

In [24]:
population.groupby("State")["countyFIPS"].count().sort_values(ascending=False)

State
TX    255
GA    160
VA    134
KY    121
MO    116
KS    106
IL    103
NC    101
IA    100
TN     96
NE     94
IN     93
OH     89
MN     88
MI     84
MS     83
OK     78
AR     76
WI     73
AL     68
FL     68
PA     68
SD     67
LA     65
CO     65
NY     64
CA     60
MT     57
WV     56
ND     54
SC     47
ID     45
WA     40
OR     37
NM     34
AK     31
UT     30
MD     25
WY     24
NJ     22
NV     18
ME     17
AZ     16
MA     15
VT     15
NH     11
CT      9
RI      6
HI      6
DE      4
DC      1
Name: countyFIPS, dtype: int64

The result of this code is a Series that shows the number of occurrences of county FIPS codes within each state, sorted in descending order. The state with the most occurrences of FIPS code appears first. This gives an understanding of states that have the highest number of unique FIPS codes or identifying data patterns or anomalies within the dataset at the state level.

### Count of occurrences for each unique value in the "countyFIPS" column

#### cases

In [25]:
vc_countyFIPS_cases=cases["countyFIPS"].value_counts()
print(vc_countyFIPS_cases)

0        51
39089     1
39093     1
39095     1
39097     1
         ..
21113     1
21115     1
21117     1
21119     1
56045     1
Name: countyFIPS, Length: 3143, dtype: int64

#### deaths

In [26]:
vc_countyFIPS_deaths=deaths["countyFIPS"].value_counts()
print(vc_countyFIPS_deaths)

0        51
39089     1
39093     1
39095     1
39097     1
         ..
21113     1
21115     1
21117     1
21119     1
56045     1
Name: countyFIPS, Length: 3143, dtype: int64

#### population

In [27]:
vc_countyFIPS_pop=population["countyFIPS"].value_counts()
print(vc_countyFIPS_pop)

0        51
39087     1
39091     1
39093     1
39095     1
         ..
21111     1
21113     1
21115     1
21117     1
56045     1
Name: countyFIPS, Length: 3145, dtype: int64

### Identify the county name associated with unique county FIPS codes

#### cases

In [28]:
print("County name associated with unique countyFIPS")
print(cases[cases.isin(vc_countyFIPS_cases).any(axis=1)]["County Name"])
print("\n")
print(" Number of County names associated with unique FIPs is :")
print(len(cases[cases.isin(vc_countyFIPS_cases).any(axis=1)]["County Name"]) )

County name associated with unique countyFIPS
1003        Wabaunsee County
1005       Washington County
1007           Wilson County
1009        Wyandotte County
1011            Adair County
                ...
2240          Wagoner County
2261        Jefferson County
2275         Umatilla County
2282    Statewide Unallocated
2290         Bradford County
Name: County Name, Length: 79, dtype: object


 Number of County names associated with unique FIPs is :
79

#### deaths

In [29]:

print("County name associated with unique countyFIPS", deaths[deaths.isin(vc_countyFIPS_deaths).any(axis=1)]["County Name"])
print("\n")
print(" Number of County names associated with unique FIPs is :", len(deaths[deaths.isin(vc_countyFIPS_deaths).any(axis=1)]["County Name"]) )
print()

County name associated with unique countyFIPS 1003       Wabaunsee County
1009       Wyandotte County
1011           Adair County
1013        Anderson County
1015          Barren County
                ...
2220          Nowata County
2230    Pottawatomie County
2240         Wagoner County
2275        Umatilla County
2290        Bradford County
Name: County Name, Length: 82, dtype: object


 Number of County names associated with unique FIPs is : 82

The result is the "County Name" associated with counties that have unique FIPS codes (i.e., FIPS codes that appear only once in the dataset)and the count of such unique county names.

#### population

In [30]:
print("County name associated with unique countyFIPS", population[population.isin(vc_countyFIPS_pop).any(axis=1)]["County Name"])
print("\n")
print(" Number of county names associated with unique FIPs is :", len(population[population.isin(vc_countyFIPS_pop).any(axis=1)]["County Name"]) )
print()

County name associated with unique countyFIPS Series([], Name: County Name, dtype: object)


 Number of county names associated with unique FIPs is : 0

### Finding states and its count by countyFIPS

#### cases

In [31]:
print("States with unique countyFIPS", cases[cases.isin(vc_countyFIPS_cases).any(axis=1)]["State"].unique())
print("\n")
print("Number of States associated with unique countyFIPS is : ",len(cases[cases.isin(vc_countyFIPS_cases).any(axis=1)]["State"].unique()))

States with unique countyFIPS ['KS' 'KY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA']


Number of States associated with unique countyFIPS is :  8

#### deaths

In [32]:
print("States with unique countyFIPS", deaths[deaths.isin(vc_countyFIPS_deaths).any(axis=1)]["State"].unique())
print("\n")
print("Number of States associated with unique countyFIPS is : ",len(deaths[deaths.isin(vc_countyFIPS_deaths).any(axis=1)]["State"].unique()))

States with unique countyFIPS ['KS' 'KY' 'LA' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA']


Number of States associated with unique countyFIPS is :  9

#### Finding unique countyNames with countyFIPS equals 0

#### cases

In [33]:
# Filter the DataFrame to include only rows where 'countyFIPS' equals 0
print("\n")
filtered_cases = cases[cases['countyFIPS'] == 0]
print("Number of countyFIPS where countyFIPS equal to 0 is :",len(filtered_cases))
print("\n")

# Get unique states from the filtered DataFrame
unique_county_with_countyFIPS_0 = filtered_cases['County Name'].unique()

print("Unique County Name with countyFIPS equal to 0:", unique_county_with_countyFIPS_0)
print("\n")

print("States with County name \'Statewide Unallocated\'",cases[cases['County Name'] == 'Statewide Unallocated']['State'].unique())

Number of countyFIPS where countyFIPS equal to 0 is : 51


Unique County Name with countyFIPS equal to 0: ['Statewide Unallocated']


States with County name 'Statewide Unallocated' ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

#### deaths

In [34]:
# Filter the DataFrame to include only rows where 'countyFIPS' equals 0
print("\n")
filtered_deaths = deaths[deaths['countyFIPS'] == 0]
print("Number of countyFIPS where countyFIPS equal to 0 is :",len(filtered_deaths))
print("\n")

# Get unique states from the filtered DataFrame
unique_county_with_countyFIPS_0 = filtered_deaths['County Name'].unique()

print("Unique County Name with countyFIPS equal to 0:", unique_county_with_countyFIPS_0)
print("\n")

print("States with County name \'Statewide Unallocated\'",deaths[deaths['County Name'] == 'Statewide Unallocated']['State'].unique())

Number of countyFIPS where countyFIPS equal to 0 is : 51


Unique County Name with countyFIPS equal to 0: ['Statewide Unallocated']


States with County name 'Statewide Unallocated' ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

#### population

In [35]:
# Filter the DataFrame to include only rows where 'countyFIPS' equals 0
print("\n")
filtered_pop = population[population['countyFIPS'] == 0]
print("Number of countyFIPS where countyFIPS equal to 0 is :",len(filtered_pop))
print("\n")

# Get unique states from the filtered DataFrame
unique_county_with_countyFIPS_0 = filtered_pop['County Name'].unique()

print("Unique County Name with countyFIPS equal to 0:", unique_county_with_countyFIPS_0)
print("\n")

print("States with County name \'Statewide Unallocated\'",population[(population['County Name'] == 'Statewide Unallocated') | (population['County Name'] == 'New York City Unallocated')]['State'].unique())

Number of countyFIPS where countyFIPS equal to 0 is : 51


Unique County Name with countyFIPS equal to 0: ['Statewide Unallocated' 'New York City Unallocated']


States with County name 'Statewide Unallocated' ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

### Filtering the rows where countyFIPS not equal to o

#### cases

In [36]:
cases = cases[cases['countyFIPS'] != 0]

#### deaths

In [37]:
deaths = deaths[deaths['countyFIPS'] != 0]

#### population

In [38]:
population = population[population['countyFIPS'] != 0]

### Merging Cases, deaths and population datasets using countyFIPS

In [39]:
merged_data = pd.merge(cases, deaths, on= ['countyFIPS','County Name', 'State','StateFIPS'], suffixes=('_cases', '_deaths'))
merged_data.head()
merged_data.shape

(3142, 2534)

In [40]:
final_merged_data =pd.merge(merged_data,population, on= ['countyFIPS'])
final_merged_data

,countyFIPS,County Name_x,State_x,StateFIPS,2020-01-22_cases,2020-01-23_cases,2020-01-24_cases,2020-01-25_cases,2020-01-26_cases,2020-01-27_cases,...,2023-07-17_deaths,2023-07-18_deaths,2023-07-19_deaths,2023-07-20_deaths,2023-07-21_deaths,2023-07-22_deaths,2023-07-23_deaths,County Name_y,State_y,population
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,Autauga County,AL,55869
1,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,Baldwin County,AL,223234
2,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,Barbour County,AL,24686
3,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,Bibb County,AL,22394
4,1009,Blount County,AL,1,0,0,0,0,0,0,...,261,261,261,261,261,261,261,Blount County,AL,57826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,142,142,142,142,142,142,142,Sweetwater County,WY,42343
3138,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,Teton County,WY,23464
3139,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,Uinta County,WY,20226
3140,56043,Washakie County,WY,56,0,0,0,0,0,0,...,51,51,51,51,51,51,51,Washakie County,WY,7805
3141,56045,Weston County,WY,56,0,0,0,0,0,0,...,24,24,24,24,24,24,24,Weston County,WY,6927

In [41]:
final_merged_data.head()

,countyFIPS,County Name_x,State_x,StateFIPS,2020-01-22_cases,2020-01-23_cases,2020-01-24_cases,2020-01-25_cases,2020-01-26_cases,2020-01-27_cases,...,2023-07-17_deaths,2023-07-18_deaths,2023-07-19_deaths,2023-07-20_deaths,2023-07-21_deaths,2023-07-22_deaths,2023-07-23_deaths,County Name_y,State_y,population
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,Autauga County,AL,55869
1,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,Baldwin County,AL,223234
2,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,Barbour County,AL,24686
3,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,Bibb County,AL,22394
4,1009,Blount County,AL,1,0,0,0,0,0,0,...,261,261,261,261,261,261,261,Blount County,AL,57826

In [42]:

columns_to_drop =["County Name_y", "State_y"]
final_merged_data.drop(columns=columns_to_drop, inplace=True)

In [43]:
column_rename = {
    'County Name_x': 'County Name',
    'State_x': 'State'
}

# Rename the columns with suffixes
final_merged_data.rename(columns=column_rename, inplace=True)

In [44]:
final_merged_data.columns

Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', '2020-01-22_cases',
       '2020-01-23_cases', '2020-01-24_cases', '2020-01-25_cases',
       '2020-01-26_cases', '2020-01-27_cases',
       ...
       '2023-07-15_deaths', '2023-07-16_deaths', '2023-07-17_deaths',
       '2023-07-18_deaths', '2023-07-19_deaths', '2023-07-20_deaths',
       '2023-07-21_deaths', '2023-07-22_deaths', '2023-07-23_deaths',
       'population'],
      dtype='object', length=2535)

In [45]:
final_merged_data.shape

(3142, 2535)