In [46]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats.distributions import gamma

# Import our deaths and cases data csv's and previous data from stage 1 and 2
covD = pd.read_csv('data/covid_deaths_usafacts.csv')
covC = pd.read_csv('data/covid_confirmed_usafacts.csv')
covP = pd.read_csv('data/covid_county_population_usafacts.csv')
state_cases= pd.read_csv('state_normal.csv')
state_cases.head()

,date,State,total_cases,total_deaths,new_cases,new_deaths,norm_pop
0,2020-07-05,NV,648.668444,16.849796,150.511857,0.746715,30.80156
1,2020-07-12,NV,818.107914,18.375693,169.439470,1.525897,30.80156
2,2020-07-19,NV,1039.168146,20.258714,221.060232,1.883022,30.80156
3,2020-07-26,NV,1291.038506,22.693656,251.870360,2.434942,30.80156
4,2020-08-02,NV,1524.143582,25.583120,233.105076,2.889464,30.80156

In [47]:
case_drop = ['total_deaths','new_cases','new_deaths']
state_cases.drop(case_drop, axis=1, inplace=True)

In [48]:
state_cases.head()

         date State  total_cases  norm_pop
0  2020-07-05    NV   648.668444  30.80156
1  2020-07-12    NV   818.107914  30.80156
2  2020-07-19    NV  1039.168146  30.80156
3  2020-07-26    NV  1291.038506  30.80156
4  2020-08-02    NV  1524.143582  30.80156

In [49]:
pivot_df = state_cases.pivot(index='date', columns='State', values='total_cases')
pivot_df.head()

State,ID,MD,NC,NV,OH,TX
date,,,,,,
2020-06-28,NaN,NaN,NaN,NaN,411.682679,NaN
2020-07-05,374.077048,1131.899141,650.099675,648.668444,460.582936,604.465165
2020-07-12,526.114047,1181.471729,759.442811,818.107914,526.447716,793.523052
2020-07-19,722.693355,1264.241574,891.630921,1039.168146,605.598378,1016.899607
2020-07-26,937.514864,1345.837027,1019.042182,1291.038506,685.638757,1238.337956

In [60]:
pivot_df.drop('State', axis=1, inplace=True)
pivot_df

KeyError: "['State'] not found in axis"